body {
    color:gray;
    font-size:17pt;
}
h1{
    color: blue;
    opacity: 0.2;
    font-size: 36pt;
    margin-top: -20px;
    margin-bottom: 0px;
    text-align: right;
}
p{
    margin: 10px;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}