{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>アプリ物置</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    </head>
    <body class="container">
        <h1 class="display-4 text-primary mb-4">
       アプリ物置</h1>
        <h2>一覧</h2>
        <ul>
            <li>TODOリスト</li>
            <li>
                <a>じゃんけん</a>
            </li>
            <div>
                <a href="/hello"><img src="C:\Users\ryuki\OneDrive\デスクトップ\python\Django\mysite\login\static\login\img\data.png" alt="データ"></a>
            </div>
            <li>
                <a href="/sns">SNS</a>
            </li>
        </ul>
        <p>テストです</p>
        <p>wowow</p>
        <a>別のページ</a>
    </body>
</html>