<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../../static/game/css/style.css">
      <title>GAME置き場</title>  
    </head>
    <body>
        <header>
        <h1>GAME置き場</h1>
        </header>
        <div class="mainblock">
            <main>
                <a href="" class="btn btn-border">PUSH!</a>
                <div class="game1">
                    <table border="5" width="200">
                        <tr>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        </tr><br>
                        <tr>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        </tr><br>
                        <tr>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        </tr><br>
                        <tr>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        </tr><br>
                        <tr>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        </tr><br>

                        </table>
                </div>

            </main>
        </div>
        
    </body>
</html>